:root{
    --background:black;
    --font-color: white;
    --align-text:center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--font-color);
    text-align: var(--align-text);
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: var(--font-color)
}