:root{
    --var-background:black;
    --var-font-color: white;
    --var-align-text:center;
}
body{
    background-color: var(--var-background);
    color: var(--var-font-color);
    text-align: var(--var-align-text);
}